asgiref
asttokens
backcall
certifi
colorama
comm
contourpy
crispy-bootstrap5
cycler
debugpy
decorator
dill
distlib
Django
django-crispy-forms
django-environ
django-humanize
docutils
executing
filelock
fonttools
humanize
ipykernel
ipython
javascript
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
lcapy
linear
matplotlib
matplotlib-inline
mpmath
mysql-connector-python
nest-asyncio
networkx
nodejs
numpy
optional-django
packaging
pandas
parso
patsy
pickleshare
Pillow
pipenv
platformdirs
prompt-toolkit
property-cached
protobuf
psutil
psycopg2
psycopg2-binary
pure-eval
pyfunctional
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
scikit-learn
scipy
seaborn
six
sklearn
sklearn-utils
sqlparse
stack-data
statistics
statsmodels
sympy
tabulate
threadpoolctl
tornado
traitlets
tzdata
virtualenv
wcwidth