{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
 <div>
  
  <a class="nav-link btn btn-danger text-dark" href="{% url 'profile' %}">Update Profile</a>
 </div>




 <div>
  <h1>Quantity: {{ data|length|add:0 }}</h1>
</div>

 <div class="row d-flex flex-wrap justify-content-center px-5 pt-5">
  {% for post in data %}
  <div class="col-sm-4 mb-4">
    <div class="card">
      <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.name }}">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'detail_post' post.id %}" class="text-decoration-none text-dark">{{ post.title }}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">Brands:
          {% if post.categories.all %}
            {% for brand in post.categories.all %}
              {{ brand.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          {% else %}
            No Brands Available
          {% endif %}
        </h6>
        <p class="card-text">{{ post.description|truncatewords:10 }}</p>
       
        <p class="card-text">Price: {{ post.borrowing_price }}</p>
      </div>
    </div>
  </div>
   {% endfor %}
 </div>
{% endblock %}
